:root {
    --background: rgb(18, 18, 18);
    --header: rgb(1, 1, 1);
    --accent: rgb(255, 26, 26);
    --text: rgb(255, 255, 255);
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--text);
    font-family: Manrope, sans-serif;
    font-size: larger;
    line-height: 1.2em;
    transition: background-color 1s, color 0.5s;
}
html {
    scroll-behavior: smooth;
}

a {
    color: var(--accent);
    text-decoration: none;
    transition: color 1s, opacity 0.5s;
    cursor: pointer;
}
a:hover {
    opacity: 50%;
}
a.noHover:hover {
    opacity: 100%;
}

nav {
    position: absolute;
    inset: 0 0 95vh;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25px;
}
nav > a {
    position: relative;
    margin: 0 25px;
    display: inline-block;
    height: 25px;
    width: fit-content;
    background-color: red;
}
nav > a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: -25px;
    border-bottom: 25px solid red;
    border-left: 25px solid transparent;
}
nav > a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: -25px;
    border-top: 25px solid red;
    border-right: 25px solid transparent;
}

.background {
    width: calc(100vw - 50px);
    height: calc(100vh - 50px);
    position: absolute;
    margin: 25px;
    padding: 25px;
    box-sizing: border-box;
    background: linear-gradient(135deg, rgb(255,0,0) 0%, rgb(255, 68, 35) 10%, rgb(33,33,33) 10%, rgb(33,33,33) 90%, rgb(255, 68, 35) 90%, rgb(255,0,0) 100%);
    border-radius: 25px;
}

.card {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    position: absolute;
    padding: 5%;
    box-sizing: border-box;
    background: #212121;
    border-radius: 10px;
    display: flex;
}

.scroll-container {
    max-width: 600px;
}

.scroller {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroll-container[data-animated="true"] {
    overflow: hidden;
    mask: linear-gradient(90deg, transparent, white 25%, white 75%, transparent);
}

.scroll-container[data-animated="true"] .scroller {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--animation-duration, 40s) var(--animation-direction, reverse) linear infinite;
    filter: grayscale(1);
    transition: 0.5s filter;
}

.scroll-container[data-animated="true"] .scroller:hover {
    filter: grayscale(0);
}

.scroll-container[data-direction="right"] {
    --animation-direction: reverse;
}

.scroll-container[data-direction="left"] {
    --animation-direction: forwards;
}

.scroll-container[data-speed="fast"] {
    --animation-duration: 20s;
}

.scroll-container[data-speed="slow"] {
    --animation-duration: 60s;
}

@keyframes scroll {
    to { transform: translate(calc(-50% - 0.5rem)); }
}

.title {
    font-size: x-large;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--text);
}
.title.bold {
    font-weight: bold;
}
.title.small {
    font-size: large;
}
.title.red {
    color: var(--accent);
}

.fadeIn {
    opacity: 0;
    transform: translate(0, 1em);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}
.fadeIn.active {
    opacity: 1;
    transform: translate(0, 0);
}

.introduction-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.name {
    margin: 0 0 0 -4px;
    font-size: 80px;
    font-weight: bolder;
    line-height: 80px;
    color: #ffffff;
    cursor: default;
    white-space: nowrap;
}
.name-description {
    margin: 0;
    font-size: medium;
    max-width: 500px;
}

.links {
    display: flex;
    gap: 10%;
    font-size: 2em;
}

.skills-logo {
    height: 80px;
}

.footer {
    height: 80px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(var(--header));
    color: #808080;
    font: 0.8em Arial, sans-serif;
}
